.category-section {
    margin-block-start: -1rem;
    background: $black-color;
   
    .container {
        justify-content: center;

        .category-content {
            gap: 1rem;
            margin: .5rem 0;
            padding: .5rem 0;
            overflow-x: scroll;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                display: none;
            }
        
            .card {
                background: $yellow-color;
                border: 4px solid $transparent-color;
                padding: .1rem;
                border-radius: .5rem;
                transition: $transition;
                cursor: pointer;

                &:hover {

                    .card-image {
                        transform: scale(1.4) rotate(5deg);
                    }
                }
        
                .card-image {
                    width: 4.5rem;
                    height: 4.5rem;
                    padding: .5rem;
                    transition: $transition;
        
                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        filter: contrast(1.5);
                    }
                }
            }
        }
    }
}