.header {

    .container {

        .navbar {
            position: fixed;
            top: 1rem;
            right: 4rem;
            width: 6rem;
            height: 3rem;
            background: $red-color;
            box-shadow: $shadow;
            border-radius: 5rem 1rem 1rem 5rem;
            justify-content: space-between;
            transition: width 1s ease-in-out;
            overflow: hidden;
            z-index: 999;

            .logo-box {
                position: relative;
                width: 3rem;
                height: 3rem;
                align-items: center;
                gap: .5rem;
                overflow: hidden;

                .logo {
                    position: relative;
                    min-width: 3rem;
                    height: 3rem;
                    background: $white-color;
                    border-radius: 50%;
                    padding: 1rem;
                    overflow: hidden;
                    transition: 1s ease-in-out;

                    img {
                        position: absolute;
                        top: .3rem;
                        left: .2rem;
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                    }
                }

                .logo-name {
                    white-space: nowrap;
                    text-transform: uppercase;
                    font-family: $logo-font;
                    color: $white-color;
                }
            }

            .menu-toggle {
                position: relative;
                width: 3rem;
                height: 3rem;
                align-items: center;
                justify-content: center;

                .open-btn, .close-btn {
                    font-size: 2rem;
                    color: $text-color;
                    cursor: pointer;

                }

                .close-btn {
                    display: none;
                }
            }

            .menu-list {
                position: absolute;
                height: calc(100% - 3rem);
                top: 1rem;
                left: calc(94vw - 65%);
                padding: .5rem;
                align-items: center;
                justify-content: center;
                gap: 3.5rem;

                .menu-link {
                    overflow: hidden;
                    transition: $transition;

                    a {
                        color: $text-color;
                        font-family: $logo-font;
                        font-size: 1.2rem;
                        text-transform: uppercase;

                        &:hover {
                            color: $white-color;
                        }
                    }

                    &:hover {
                        transform: scale(1.2);
                        color: $white-color;
                    }
                }
            }
        }

        .active {
            width: 94vw;
            background: $bg-color;
            box-shadow: $shadow2;

            & .logo-box {
                width: calc(100% - 3rem);

                & .logo {
                    background: $red-color;

                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .header {

        .container {
    
            .navbar {
                right: .7rem;
                
                .menu-list {
                    top: 2rem;
                    left: 0;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 2rem;
    
                    .menu-link {
    
                        a {
                            font-size: 1rem;
                        }
    
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }

            .active {
                width: 97vw;
                height: 22rem;
                border-radius: 1.2rem .5rem .5rem .5rem;
                transition: width 1s ease-in-out, height 1.5s ease-in-out;
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .header {

        .container {

            .active {
                width: 94vw;
                height: 22rem;
            }
        }
    }

}