.home {
    position: relative;
    overflow: hidden;

    .bubbles {
        position: relative;
        align-items: center;
        justify-content: center;

        span {
            position: relative;
            width: .2rem;
            height: .4rem;
            background: $red-color;
            margin: 0 4px;
            animation: animate 15s linear infinite;
            animation-duration: calc(50s / var(--i));

            &:nth-child(even) {
                background: $orange-color;
            }
        }

        @keyframes animate {
            0% {
                transform: translateY(100vh);
            }
            100% {
                transform: translateY(1vh) scale(0);
            }
        }
    }

    .home__container {
        justify-content: center;
        align-items: center;

        .home-text {
            position: absolute;
            bottom: 17rem;
            font-family: $logo-font;
            font-size: 15rem;
            text-transform: uppercase;
            color: $glass-color;
        }

        .home-image {
            position: relative;
            top: 3rem;
            width: 35rem;
            height: 40rem;
            z-index: 10;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                filter: brightness(1.5);
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .home {
    
        .home__container {
    
            .home-text {
                font-size: 9.5rem;
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .home {
    
        .bubbles {
            position: absolute;
        }
    
        .home__container {
    
            .home-text {
                bottom: 20rem;
                font-size: 6.5rem;
            }
    
            .home-image {
                top: 1rem;
                width: 20rem;
                height: 35rem;
            }
        }
    }
    

}


/*==========Media Query==========*/
@media (max-width: 548px) {
    .home {
    
        .moon {
            width: 200%;
            top: -2rem;
            left: -20rem;
        }
    
        .home__container {
    
            .home-text {
                bottom: 24rem;
                font-size: 4.5rem;
            }

            .home-image {
                top: 5rem;
                width: 20rem;
                height: 35rem;
            }
        }
    }
    

}